/* login.css */


body {
    position: relative;
    display: flex;
    flex-direction: column; /* Cambio a flex-direction: column */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Asegura que no haya márgenes en el body */
    padding: 0;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

header {
    text-align: center;
    margin-top: 50px; /* Ajusta el valor para mover el texto hacia abajo */
}

.white-box {
    background-color: white;
    padding: 20px; /* Margen interior para separar el contenido del recuadro */
    max-width: 900px; /* Ancho máximo del recuadro */
    width: 95%; /* Ajustar el ancho del recuadro al 90% del ancho de la pantalla */
    height: 100vh; /* Ajustar la altura del recuadro al 90% de la altura de la pantalla */
    margin: auto; /* Centrar el recuadro horizontalmente */
    display: flex; /* Cambiar a display flex para centrar el contenido verticalmente */
    flex-direction: column; /* Alinear el contenido en columnas */
    justify-content: center; /* Centrar verticalmente el contenido */
    align-items: center; /* Centrar horizontalmente el contenido */
    opacity: 0.9;
}

    body::before {
        content: "";
        background-image: url("../pictures/RingBoxGround.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7; /* Ajustar la opacidad, puedes usar cualquier valor entre 0 y 1 */
        z-index: -1; /* Colocar el pseudo-elemento detrás del contenido */
    }


