/* login.css */


body {
    position: relative;
    display: flex;
    flex-direction: column; /* Cambio a flex-direction: column */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Asegura que no haya márgenes en el body */
    padding: 0;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

.white-box {
    background-color: white;
    padding: 20px; /* Margen interior para separar el contenido del recuadro */
    max-width: 800px; /* Ancho máximo del recuadro */
    margin: 0 auto; /* Centrar el recuadro horizontalmente */
}

    body::before {
        content: "";
        background-image: url("../pictures/RingBoxGround.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7; /* Ajustar la opacidad, puedes usar cualquier valor entre 0 y 1 */
        z-index: -1; /* Colocar el pseudo-elemento detrás del contenido */
    }


