/* login.css */


body {
    position: relative;
    display: flex;
    flex-direction: column; /* Cambio a flex-direction: column */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Asegura que no haya m�rgenes en el body */
    padding: 0;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

header {
    text-align: center;
    margin-top: 30px; /* Ajusta el valor para mover el texto hacia abajo */
    color: white;
    opacity: 0.9;
}

.white-box {
    background-color: white;
    padding: 20px; /* Margen interior para separar el contenido del recuadro */
    max-width: 900px; /* Ancho m�ximo del recuadro */
    width: 95%; /* Ajustar el ancho del recuadro al 90% del ancho de la pantalla */
    /*height: 100vh; /* Ajustar la altura del recuadro al 90% de la altura de la pantalla */
    margin: auto; /* Centrar el recuadro horizontalmente */
    display: flex; /* Cambiar a display flex para centrar el contenido verticalmente */
    flex-direction: column; /* Alinear el contenido en columnas */
    opacity: 0.9;
    position: relative; /* A�adimos position: relative para que black-box sea relativo a white-box */
    overflow: hidden; /* A�adimos overflow: hidden para evitar que el contenido de black-box se salga de white-box */
}

.playlist-container {
    max-height: 200px; /* Establece la altura máxima deseada para el contenedor de las playlists */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    padding: 10px; /* Ajusta el espacio interior según sea necesario */
}

.black-box {
    background-color: black;
    color: white; /* Cambia el color del texto a blanco para que sea visible en el fondo negro */
    padding: 20px; /* Margen interior para separar el contenido del recuadro */
    width: 100%; /* Ajustar el ancho del recuadro al 100% del ancho del white-box */
    height: 10vh; /* Altura del recuadro (aj�stala seg�n tus necesidades) */
    position: absolute; /* A�adimos position: absolute para posicionar black-box dentro de white-box */
    top: 0; /* Posicionamos black-box desde el borde superior */
    left: 0; /* Posicionamos black-box desde el borde izquierdo */
    display: flex; /* Cambiar a display flex para centrar el contenido verticalmente */
    justify-content: center; /* Alinear el contenido en el centro verticalmente */
    align-items: center; /* Centrar el contenido horizontalmente */
    z-index: 1; /* A�adimos z-index para que black-box est� por encima de body::before */
    opacity: 0.9;
}

.black-box h1 {
    margin: 0; /* Eliminar m�rgenes del t�tulo */
}

body::before {
    content: "";
    background-image: url("../pictures/RingBoxGround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7; /* Ajustar la opacidad, puedes usar cualquier valor entre 0 y 1 */
    z-index: -1; /* Colocar el pseudo-elemento detr�s del contenido */
}

.gif-left,
.gif-right {
    width: 70px; /* Ajusta el ancho de los gifs seg�n tus necesidades */
    height: 70px; /* Ajusta la altura de los gifs seg�n tus necesidades */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gif-left {
    left: 20px; /* Ajusta la posici�n izquierda del primer gif */
}

.gif-right {
    right: 60px; /* Ajusta la posici�n derecha del segundo gif */
}

footer {
    /*background-color: white;*/
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    text-align: center; /* Alinear el contenido del pie de p�gina al centro */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: darkslategray; /* Cambia el color de los textos del pie de p�gina */
}