body {
    position: relative;
    display: flex;
    flex-direction: column; /* Cambio a flex-direction: column */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Asegura que no haya márgenes en el body */
    padding: 0;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

body::before {
    content: "";
    background-image: url("../pictures/RingBoxGround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7; /* Ajustar la opacidad, puedes usar cualquier valor entre 0 y 1 */
    z-index: -1; /* Colocar el pseudo-elemento detrás del contenido */
}

#tracks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.match {
    display: flex;
    align-items: center;
}

.track {
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
}

.track img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.track-info h4, .track-info p {
    margin: 10px 0 0 0;
    color: darkslategray;
}

.vs {
    font-size: 24px;
    font-weight: bold;
    color: darkred;
    margin: 0 20px;
}

.winner {
    text-align: center;
}

.winner h2 {
    color: darkgreen;
    margin-bottom: 20px;
}

.winner img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
    /*background-color: white;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center; /* Alinear el contenido del pie de página al centro */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: darkslategray; /* Cambia el color de los textos del pie de página */
}
